body {
    background-color: #171131;
    color: white;
    display: block;
}

#canv {
    border: 3px solid blueviolet;
}

canvas {
    background-color: white;
    cursor: crosshair;
}

.range {
  -webkit-appearance: none;
  appearance: none;
  width: 25%;
  height: 25px;
  background: blueviolet;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  border-radius: 12px;
}

.range:hover {
  opacity: 1;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 32px;
  background: #e9c5ff;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 25px;
  height: 32px;
  background: #e9c5ff;
  cursor: pointer;
}